<div class="row main-my-page">

  <br>
  <hr>
  <h2 class="intro-text text-center">Welcome to
      <span id="logo">Comedy-Bucket</span>
  </h2>
  <hr>

  <br>
  <div class="col-md-12">
    <% @artists.each do |artist| %>
          <%= link_to "#", class: 'show-artist', data: {showartist: "#modal#{artist.id}"} do %>
            <%= image_tag artist.photo %>
          <%end%>
          <!-- Modal -->
          <div class="modal fade" id="modal<%= artist.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel"><%= artist.name %></h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-sm-7">
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="<%= artist.videos.sample.url %>"></iframe>
                      </div>
                    </div>
                    <div class="col-sm-5">

                      <p class="p"><%= artist.info %></p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <%= link_to "Show Time", artist_path(artist), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
      <%end%>
  </div>
</div>
