
<div class="row">
  <br>
  <hr>

    <h2 class="intro-text text-center"><%= @artist.name%>'s Shows</h2>

  <hr>


  <div id="map"></div>
</div>


<br>
<div class="row">

  <table class="table table-hover">
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>City</th>
    </tr>
    <% @schedules.each do |schedule| %>
    <tr>
        <td><%= schedule.time.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= schedule.place_name %></td>
        <td><%= schedule.location %></td>
    </tr>
    <%end%>
  </table>
</div>

<br>
<div class="row">
  <div class="col-md-12">
    <% @videos.each do |video| %>
      <iframe width="350" height="349" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
    <%end%>
  </div>
</div>

<script>
$(window).ready(function(){
  <% @schedules.each do |point| %>
    L.marker([<%= point.lat %>, <%= point.lng %>])
    .addTo(window.map)
    .bindPopup("<b><%= point.place_name %></b>");
  <% end %>
});
</script>
