<div class="row main-my-page">
  <br>
  <hr>
  <h2 class="intro-text text-center"><%= @artist.name%>'s Shows</h2>
  <hr>

  <% @videos.each do |video| %>
  <div class="col-md-4">
    <div id="video-homepage">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="<%= video.url %>"></iframe>
      </div>
    </div>
  </div>
  <%end%>
</div>
<br>
<div class="row main-my-page">
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Event</th>
      <th>City</th>
    </tr>
    <% @schedules.each do |schedule| %>
    <%= link_to "Edit", edit_artist_path(schedule.artist), style: "display: none" %>

    <tr>
      <td><%= schedule.time.strftime("%A, %d %b %Y %l:%M %p") %></td>
      <td><%= schedule.place_name %></td>
      <td><%= schedule.location %></td>
    </tr>
    <%end%>
  </table>
</div>
<br>

<div class="row main-my-page">
  <div id="map"></div>
</div>
<br>
<% if user_signed_in? %>
  <div class="row main-my-page">
    <div class="row">
      <div class="col-sm-8">
        <div class="comment comment-artist">
          <div id="comment-artist">
            <%= render partial: "commentform" %>
          </div>
          <div class="vote-artist">
            <% if @vote.present? %>
              <%= render partial: "votedown" %>
            <%else%>
              <%= render partial: "voteup" %>
            <%end%>
              <%= render partial: "votenum" %>
          </div>
          <br>

          <div id="artist-comment">
            <%= render partial: "comment" %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%else%>
  <div class="row main-my-page">
    <div class="row">
      <div class="col-sm-8">
        <div class="comment comment-artist">
          <p class="p"><%= link_to "Sign in", new_user_session_path, class: "comment_able" %>  or <%= link_to "Sign up",new_user_registration_path, class: "comment_able" %></p>
          <div class="vote-artist not-sign">
            <button class= "btn btn-success thumbs-up">
              <i class="fa fa-thumbs-up"></i>
            </button>
            <%= render partial: "votenum" %>
          </div>
          <div id="artist-comment not-sign">
            <%= render partial: "comment" %>
          </div>
        </div>
      </div>
  </div>
<%end%>

<script>
$(window).ready(function(){
  <% @schedules.each do |point| %>
    L.marker([<%= point.lat %>, <%= point.lng %>])
    .addTo(window.map)
    .bindPopup("<b><%= point.place_name %></b>");
  <% end %>
});
</script>
