

    <div class="row main-my-page">

      <br>
      <hr>

        <h2 class="intro-text text-center"><%= @artist.name%>'s Shows</h2>

      <hr>


      <div id="map"></div>
    </div>


    <br>
    <div class="row main-my-page">

      <table class="table table-hover">
        <tr>
          <th>Date</th>
          <th>Event</th>
          <th>City</th>
        </tr>
        <% @schedules.each do |schedule| %>
        <tr>
            <td><%= schedule.time.strftime("%A, %d %b %Y %l:%M %p") %></td>
            <td><%= schedule.place_name %></td>
            <td><%= schedule.location %></td>
        </tr>
        <%end%>
      </table>
    </div>



<br>
<div class="row main-my-page">

    <% @videos.each do |video| %>
    <div class="col-md-4">
      <div id="video-homepage">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="<%= video.url %>"></iframe>
        </div>
      </div>
    </div>
    <%end%>
</div>

<script>
$(window).ready(function(){
  <% @schedules.each do |point| %>
    L.marker([<%= point.lat %>, <%= point.lng %>])
    .addTo(window.map)
    .bindPopup("<b><%= point.place_name %></b>");
  <% end %>
});
</script>
