<div class="col-md-9">
    <%= simple_form_for @product do |f| %>
      <%= f.input :title %>
      <%= f.input :url %>
      <%= f.input :info  %>
      <%= f.association :user, :as => :hidden %>

      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
</div>
