<div class="row main-my-page">
  <div class="col-md-10">

      <% @products.each do |product| %>

          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="<%= product.embed(product.url) %>"></iframe>
              </div>
              <div class="caption">
                <p class="p"><%= product.title %></p>
                <p><%= link_to "Show", product_path(product), class: "btn btn-primary" %> <%= link_to "Edit", edit_product_path(product), class:"btn btn-primary" %> <%= link_to "Delete", product_path(product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></p>
              </div>
            </div>
          </div>

      <% end %>
    </div>

    <%= render partial: "side" %>
</div>
