<div class="row main-my-page show-product">
  <div class="col-md-10">
    <div class="border-around">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="<%= @product.embed(@product.url) %>" style= "height: 96%"></iframe>
      </div><br>
      <p class="p show-page"><%= @product.info %></p>
      <p>

        <% if current_user.id == @product.user.id %>
          <div id="edit-showpage">
            <%= link_to "Edit", edit_product_path(@product), class:"btn btn-primary" %> <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
          </div>
        <%else%>

        <span class="p show-page">By:</span>
          <%= link_to user_path(@product.user) do %>
        <span id="user-name"><strong><%= @product.user.email %></strong>
          <%end%>

          <div class="vote">
            <% if @vote.present? %>
            <%= render partial: "votedown" %>
            <%else%>
            <%= render partial: "voteup" %>
            <%end%>
            <%= render partial: "votenum" %>
          </div>
          <%end%>

        </p>
      </div>

      <div class="comment">
        <div id="comment-ajax">
          <%= render partial: "commentform" %>
        </div>
        <br>

        <div id="comment">
          <%= render partial: "comment" %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="thumbnail-on-recommend-side">
        <%= render partial: "recommend" %>
      </div>
    </div>
  </div>
