<div class="row main-my-page show-product">
  <div class="col-md-9">
    <div class="col-sm-6 col-md-11">
      <div class="thumbnail video-in-show-product">
        <iframe width="650" height="400" src="<%= @product.embed(@product.url) %>" frameborder="0" allowfullscreen></iframe>
        <div class="caption">
          <p><%= @product.info %></p>
          <p><%= link_to "Edit", edit_product_path(@product), class:"btn btn-primary" %> <%= link_to "Delete", product_path(@product), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>

      <%= simple_form_for @comment, url: comments_path do |f| %>
        <%= f.input :post %>
        <%= f.association :user, :as => :hidden %>
        <%= f.submit "Comment", class: "btn btn-success" %>
      <%end%>
      <br>

      <div class="comment">
        <%= render partial: "comment" %>
      </div>
    </div>
  </div>

  <%= render partial: "side" %>
</div>
