<!DOCTYPE html>
<html>
<head>
  <title>ComedyBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>

</head>
<body>

  <header>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="#">Comedy Box</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <%= link_to "Home", root_path %>
                    </li>

                    <% if user_signed_in? %>
                      <li>
                        <%= link_to "Upload", new_product_path %>
                      </li>
                      <li>
                        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
                      </li>
                    <%else%>
                      <li>
                        <%= link_to "My Page", products_path %>
                      </li>
                      <li>
                          <%= link_to "Sign In", new_user_session_path %>
                      </li>
                      <li>
                          <%= link_to "Sign Up", new_user_registration_path %>
                      </li>
                    <%end%>

                    <li>
                      <%= form_tag root_path, method: :get do %>
                        <%= text_field_tag :search, params[:search], class: "navbar-form navbar-left search-box", placeholder: "Search" %>
                      <%end%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
        <p><%= notice %></p>
        <p><%= alert %></p>
    </nav>

  </header>

  <div class="container">
    <%= yield %>
  </div>
  <br>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/profile/view?id=360265694&trk=spm_pic"><i class="fa fa-linkedin fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-github fa-2x"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
